div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='#', class='navbar-brand') Shiny Octo Ironman
		div.collapse.navbar-collapse
			ul.nav.navbar-nav 
			ul.nav.navbar-nav.navbar-right
				if user !== null
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| #{user.email}  
							b.caret
						ul.dropdown-menu
							li
								a(href='/edit') 
									i.icon-pencil
									|  Edit
							li
								a(href='/logout') 
									i.icon-off
									|  Logout
				else
					li
						a(href='/login') Login
