div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/', class='navbar-brand') DIRTy!
		div.collapse.navbar-collapse
			ul.nav.navbar-nav 
			ul.nav.navbar-nav.navbar-right
				if (req.isAuthenticated())
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| #{user.email}  
							b.caret
						ul.dropdown-menu
							li
								a(href="/users/"+req.user.id) 
									i.icon-pencil
									| &nbsp;Edit Profile
							li
								a(href="/logout") 
									i.icon-signout
									| &nbsp;Logout
				else
					a.button.btn.btn-default.navbar-btn(href='/signin') Sign in
