- if (typeof info != 'undefined' && info.length)
  div.alert.alert-dismissable.alert-info
    button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    ul
      - each inf in info
        li!= inf

- if (typeof errors != 'undefined' && errors.length)
  div.alert.alert-dismissable.alert-danger
    button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    ul
      - each error in errors
        li!= error

- if (typeof success != 'undefined' && success.length)
  div.alert.alert-dismissable.alert-success
    button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    ul
      - each succ in success
        li!= succ

- if (typeof warning != 'undefined' && warning.length)
  div.alert.alert-dismissable.alert-warning
    button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    ul
      - each warn in warning
        li!= warn
