div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='#', class='navbar-brand') Shiny Octo Ironman
		div.collapse.navbar-collapse
			ul.nav.navbar-nav 
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| username 
						b.caret
					ul.dropdown-menu
						li
							a(href='#') Logout
