extends ../layouts/default

block content
	div.row
		div.col-md-6.col-md-offset-3
			div.panel.panel-default
				div.panel-heading
					div.panel-title
						| Sign in
				div.panel-body
					include ../includes/messages
					form.form-horizontal(role='form', action='/login', method='post')
						div.form-group
							label.col-sm-2.control-label(for='email') Email
							div.col-sm-10
								input#email.form-control(type='email', name='email', placeholder='Email')
						div.form-group
							label.col-sm-2.control-label(for='password') Password
							div.col-sm-10
								input#password.form-control(type='password', name='password', placeholder='Password')
						div.form-group
							div.col-sm-offset-2.col-sm-10
								button.btn.btn-success(type='submit') Sign in