extends ../layouts/default

block content
	div.row-fluid
		div.col-md-6.col-md-offset-3
			div.panel.panel-default
				div.panel-heading
					div.panel-title
						| Sign up
				div.panel-body
					form.form-horizontal(role='form', action='/signup', method='POST')
						div.form-group
							label.col-lg-2.control-label(for='email') Email
							div.col-lg-10
								input#email.form-control(type='email', name='email', placeholder='Email')
						div.form-group
							label.col-lg-2.control-label(for='password') Password
							div.col-lg-10
								input#password.form-control(type='password', name='password' placeholder='Password')
						div.form-group
							div.col-lg-offset-2.col-lg-10
								button.btn.btn-success(type='submit') Sign up