extends ../layouts/default

block content
	div.row
		div.col-lg-6.col-lg-offset-3
			div.panel.panel-default
				div.panel-heading
					div.panel-title
						| Sign up
				div.panel-body
					include ../includes/messages
					form.form-horizontal(role='form', action='/signup', method='POST')
						div.form-group
							div.col-sm-12
								input#username.form-control(type='text', name='username', placeholder='Pick a username')
						div.form-group
							div.col-sm-12
								input#email.form-control(type='email', name='email', placeholder='Your email')
						div.form-group
							div.col-sm-12
								input#password.form-control(type='password', name='password' placeholder='Create a password')
						div.form-group
							div.col-sm-12
								button.btn.btn-success(type='submit') Sign up
								&nbsp;
								| Already have an account?&nbsp;
								a(href="/signin") Sign in